<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
      </div>
      <div class="col-4 text-center">
        <a class="logo">newLy</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
      </div>
    </div>
  </header>


<div class="container">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Subscriptions</h5>
            <div class="container" style="text-align: center;">
              <input type="checkbox" [(ngModel)]="filter.ht" (ngModelChange)="filterChange()"/> <label>Hindustan Times</label> <br>
              <input type="checkbox" [(ngModel)]="filter.nyt" (ngModelChange)="filterChange()" /> <label>New York Times</label> <br>
              <input type="checkbox" [(ngModel)]="filter.bbc" (ngModelChange)="filterChange()" /> <label>BBC</label> <br>        
              <input type="checkbox" [(ngModel)]="filter.redt" (ngModelChange)="filterChange()" /> <label>Reddit World News</label> <br>
            </div>

        </div>
    </div>
    <br>
    <br>


<div class="" *ngFor = "let article of filteredArticles">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">{{article.author}}</strong>
        <h5 class="mb-0">{{article.title}}</h5>
        <div class="mb-1 text-muted">{{article.published}}</div>
        <p class="card-text mb-auto">{{article.summary}}</p>
        <a href={{article.link}} class="stretched-link">Continue reading</a>
      </div>
    </div>
</div>

</div>
<router-outlet></router-outlet>